<template>
    <v-container>
        <v-row>
            <v-col class="text-center">
                <p class="display-4">QU!Z</p>
                <p class="font-italic font-weight-light">Welcome to the ultimate QU!Z application! Here you can show off
                    your knowledge and skills to anyone.
                </p>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="text-center">
                <p>Let's get started right now:<br/><a href="/signUp">Sign up</a> to create your own QU!ZES and earn
                    points by answering all the other questions!
                </p>
                <p>You already have an account? <a href="/login">Log in</a></p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>