<template>
    <v-form v-model="validForm">
        <v-row>
            <v-col cols="1">
                <v-checkbox v-model="value.isCorrect"
                            color="green"/>
            </v-col>
            <v-col cols="11">
                If checkbox checked the answer is true
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
    export default {
        name: "YesOrNoAnswerForm",
        props: {
            value: Object,
            disableFields: Boolean,
        },
        data: () => ({
            validForm: false
        }),
        watch: {
            validForm: function (newValidity) {
                this.$emit('validation', newValidity);
            }
        }
    }
</script>

<style scoped>

</style>